<div class="container-fluid">
	<div class="pull-right logout">
		<a href="../users/sign_out" id="logout-menubar"><i class="fa fa-power-off"></i></a>
	</div>
	<div class="header">
		<h1>Invoice</h1>
	</div>
</div>