.clearfix
{
	clear: both;
}

.logout
{
	font-size: 18px;
}

.logout a
{
	text-decoration: none;
	color: #ccc;
}

.pad0
{
	padding: 0;
}

.hotel-info
{
	border: 1px solid rgba(0,0,0,0.04);
	margin-bottom: 10px;
}

.hotel-info h3
{
	border-bottom: 1px solid rgba(0,0,0,0.04);
	text-align: center;
	padding-bottom: 5px;
}

.hotel-info p
{
	padding-left: 15px;
}

.hotel-info button
{
	margin:5px;
	/*background: #8befce;*/
}

.hotel-info button:hover
{
	/*background: #8befce;*/	
}

.hotel-info button:focus
{
	/*background: #8befce;*/
}

.padl
{
	padding-left: 0;
}

.padr
{
	padding-right: 0;
}

.savebtn
{
	margin-top: 10vh;
}

.booking-info
{
	margin-top: 10vh;
}

.invoice_header
{
	margin-top: 20px;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
}

.invoice_table
{
	margin: 25px;
}

.invoice_table table {
    width: 100%;
    text-align: center;
}

.invoice_table th {
    text-align: center;
}

.invoice_table tr {
    height: 50px;
    font-size: 18px;
}

.invoiceContainer
{
	width: 60% !important;
    border: 1px solid #ccc;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.table_head
{
	border-bottom: 1px solid #ccc;
}

.special
{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 0px 10px 0px;
}

.add_book
{
	font-size: 16px;
	margin-right: 20%;
	margin-top: 20px;
}

.add_book a
{
	text-decoration: none;
	background: orange;
	padding: 10px;
	color: #fff;
	border-radius: 25px;
}

.add_book a:hover
{
	text-decoration: none;
	background: orange;
	padding: 10px;
	color: #fff;
	border-radius: 25px;
}

.topic {
	margin-left: -22%;
}
/*body
{
	background-image: url('../assets/hotel2.jpg');
	background-repeat: no-repeat;
}*/
